<body>

    <h2>Selectors</h2>
    <h5>CSS Element Selector</h5>
    <p id="para">CSS ID Selector</p>
    <p class="paraCenter">CSS Class Selector</p>
    <hr>

    <h2>CSS Backgrounds</h2>
    <p class="bgcolor">Background Color</p>
    <p class="bgimg">Background Image</p>
    <p class="bgshort">Background Shorthand</p>
    <hr>

    <h2>CSS Borders</h2>
    <p class="dotted">Dotted Border</p>
    <p class="dashed">Dashed Border</p>
    <p class="solid">Solid Border</p>
    <p class="double">Double Border</p>
    <p class="groove">Groove Border</p>
    <p class="ridge">Ridge Border</p>
    <p class="inset">Inset Border</p>
    <p class="outset">Outset Border</p>
    <p class="none">No Border</p>
    <p class="hidden">Hidden Border</p>
    <p class="mix">Mixed Border</p>

    <p class="extraBorder">Border Properties</p>
    <p class="roundBorder">Rounded Border</p>
    <hr>

    <h2>CSS Margins</h2>
    <div class="myMargin">Margin Example</div>
    <hr>

    <h2>CSS Padding</h2>
    <div class="myPadding">Padding</div>
    <hr>

    <h2>Height and Width</h2>
    <div class="myHeightWidth">Height and Width of Div</div>
    <hr>

    <h2>CSS Outline</h2>
    <div class="dotted">Dotted Outline</div><br>
    <div class="dashed">Dashed Outline</div><br>
    <div class="solid">Solid Outline</div><br>
    <div class="double">Double Outline</div><br>
    <div class="groove">Groove Outline</div><br>
    <div class="ridge">Ridge Outline</div><br>
    <div class="inset">Inset Outline</div><br>
    <div class="outset">Outset Outline</div><br>
    
    <div class="outlineWidth">Outline Width and Color</div>

</body>

