<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <h2>Selectors</h2>
    <h5>CSS Element Selector</h5>
    <p id="para">CSS ID Selector</p>
    <p class="paraCenter">CSS Class Selector</p>
    <hr>

    <h2>CSS Backgrounds</h2>
    <p class="bgcolor">Background Color</p>
    <p class="bgimg">Background Image</p>
    <p class="bgshort">Background Shorthand</p>
    <hr>

    <h2>CSS Borders</h2>
    <p class="dotted">Dotted Border</p>
    <p class="dashed">Dashed Border</p>
    <p class="solid">Solid Border</p>
    <p class="double">Double Border</p>
    <p class="groove">Groove Border</p>
    <p class="ridge">Ridge Border</p>
    <p class="inset">Inset Border</p>
    <p class="outset">Outset Border</p>
    <p class="none">No Border</p>
    <p class="hidden">Hidden Border</p>
    <p class="mix">Mixed Border</p>

    <p class="extraBorder">Border Properties</p>
    <p class="roundBorder">Rounded Border</p>
    <hr>

    <h2>CSS Margins</h2>
    <div class="myMargin">Margin Example</div>
    <hr>

    <h2>CSS Padding</h2>
    <div class="myPadding">Padding</div>
    <hr>

    <h2>Height and Width</h2>
    <div class="myHeightWidth">Height and Width of Div</div>
    <hr>

    <h2>CSS Outline</h2>
    <div class="dotted">Dotted Outline</div><br>
    <div class="dashed">Dashed Outline</div><br>
    <div class="solid">Solid Outline</div><br>
    <div class="double">Double Outline</div><br>
    <div class="groove">Groove Outline</div><br>
    <div class="ridge">Ridge Outline</div><br>
    <div class="inset">Inset Outline</div><br>
    <div class="outset">Outset Outline</div><br>
    
    <div class="outlineWidth">Outline Width and Color</div><hr>

    <h2>CSS Text</h2>
    <div class="myColor">Text Color - Green</div>
    <div class="txtAlign">Text Align Center</div>
    <div class="txtRight">Text Align Right</div>
    <div class="txtLeft">Text Align Left</div>

    <div class="txtLast">Text Align Last - Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corporis in voluptate culpa tempore similique, aperiam fuga, unde provident, rem cumque nam delectus voluptatibus nobis inventore tempora fugiat quasi praesentium?</div>
    <div class="txtDir">Text direction r to l and unicode-bidi</div>
    <img src="./assets/images/img1.jpg" alt="Image1" class="a" style="width: 200px; height: 100px;">
    <img src="./assets/images/img2.jpg" alt="Image2" class="b" style="width: 200px; height: 100px;">
    <img src="./assets/images/img3.jpg" alt="Image3" class="c" style="width: 200px; height: 100px;">
    <img src="./assets/images/img1.jpg" alt="Image4" class="d" style="width: 200px; height: 100px;">
    <img src="./assets/images/img2.jpg" alt="Image5" class="e" style="width: 200px; height: 100px;"><br>

    <div class="txtDecor">Text Decoration - Overline
        <div class="txtline"><br> Text Line-Through</div><br>
        <div class="txtUnder">Text Underline</div><br>
        <div class="txtBoth">Text Overline and Underline</div>
    </div><br>

    <div class="txtTransform">Text Transformation
        <div class="txtUpper">Text Upper Case</div>
        <div class="txtLower">Text Lower Case</div>
        <div class="txtCap">text capitalize</div>
    </div><br>

    <div>Text Spacing
        <div class="txtIndent">Text Indent</div><br>
        <div class="letterSpace">Text Line Spacing - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime sit vel ab eligendi rem sed sint hic illum, incidunt laudantium ut exercitationem quis velit voluptatibus cupiditate ducimus fuga molestiae fugit?</div><br>
        <div class="lineHeight">Text Line Height - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae minus totam soluta obcaecati esse tempore dolorem, deserunt laudantium delectus amet ut qui dolore consectetur vero mollitia cumque, voluptas ullam illo.</div><br>
        <div class="wordSpace">Text Word Spacing - Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consequatur tempora porro asperiores, distinctio et, sapiente repellat animi ipsa quia repudiandae magni cupiditate quibusdam possimus, voluptas rerum eaque beatae nisi?</div><br>
        <div class="whiteSpace">Text White Space - Lorem, ipsum dolor sit amet consectetur adipisicing elit. At fuga, nobis hic minima ea laborum minus architecto eaque, aspernatur, illo repellat sunt nisi excepturi inventore delectus et adipisci ex? Voluptatum!</div><br>
    </div><br>

    <h1 class="txtShd">Text Shadow</h1> <hr>

    <h2>CSS Font</h2>
    <div class="fontFam">Font Family
        <div class="fontNormal">Font Style - Normal</div>
        <div class="fontItalic">Font Style - Italic</div>
        <div class="fontObliq">Font Style - Oblique</div>
        <div class="weightNormal">Font Weight - Normal</div>
        <div class="weightBold">Font Weight - Bold</div>
        <div class="variantNorm">Font Variant - Normal</div>
        <div class="variantSmall">Font Variant - Small Caps</div>
        <div class="fontSize">Font Size</div>
        <div class="fontVW">Font Size - Viewport</div>
    </div><hr>

    <h2>CSS Icons</h2>
    <i class="glyphicon glyphicon-cloud"></i>
    <i class="glyphicon glyphicon-remove"></i>
    <i class="glyphicon glyphicon-user"></i>
    <i class="glyphicon glyphicon-envelope"></i>
    <i class="glyphicon glyphicon-thumbs-up"></i><br>

    <i class="material-icons">cloud</i>
    <i class="material-icons">favorite</i>
    <i class="material-icons">attachment</i>
    <i class="material-icons">computer</i>
    <i class="material-icons">traffic</i><hr>
    
    <h2>CSS Links</h2>
    <a href="https://google.com" class="linkStyle">Google</a> <br>
    <a href="https://w3schools.com" class="linkBtn">W3Schools</a><hr>

    <h2>Cursors</h2>
    <span style="cursor: auto">auto</span><br>
    <span style="cursor: crosshair">crosshair</span><br>
    <span style="cursor: default">default</span><br>
    <span style="cursor: e-resize">e-resize</span><br>
    <span style="cursor: help">help</span><br>
    <span style="cursor: move">move</span><br>
    <span style="cursor: n-resize">n-resize</span><br>
    <span style="cursor: ne-resize">ne-resize</span><br>
    <span style="cursor: nw-resize">nw-resize</span><br>
    <span style="cursor: pointer">pointer</span><br>
    <span style="cursor: progress">progress</span><br>
    <span style="cursor: s-resize">s-resize</span><br>
    <span style="cursor: se-resize">se-resize</span><br>
    <span style="cursor: sw-resize">sw-resize</span><br>
    <span style="cursor: text">text</span><br>
    <span style="cursor: w-resize">w-resize</span><br>
    <span style="cursor: wait">wait</span> <hr>

    <h2>CSS Lists</h2>
    <ul class="a">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eaque autem nostrum? Asperiores, iusto fuga vero incidunt officia nihil, voluptates nisi, totam nam repudiandae veritatis voluptate? Amet quae fugiat laudantium.
        Illum, ex! Architecto laudantium voluptates ex impedit iste alias maiores veniam voluptatum nobis cum, odio excepturi sint porro quos! Molestiae enim vitae in, qui asperiores laudantium deserunt tempora nesciunt delectus!
        Nostrum beatae nam pariatur, porro, explicabo officia ut inventore blanditiis vitae soluta sint asperiores esse molestiae possimus sed quasi optio illum impedit aperiam perspiciatis debitis reiciendis magnam! Error, aperiam repellendus.            
        </li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ul class="b">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla quas voluptas dolore nobis suscipit explicabo vero hic quisquam ad nam, inventore blanditiis asperiores quae facere repudiandae cupiditate libero! Cumque.
        Eum dignissimos maxime ullam atque, tenetur recusandae odio, dicta voluptatem magni nihil eligendi earum suscipit quibusdam ut est, praesentium itaque neque blanditiis explicabo iste a iusto distinctio. Quasi, velit dolores.
        Impedit eum debitis culpa eaque? Eveniet quae sapiente unde error nulla molestias, aspernatur ullam illum at? Ab necessitatibus quidem, eius assumenda unde iste facilis, est tempora voluptatum consectetur culpa reiciendis?</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ol class="c">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam blanditiis unde exercitationem suscipit architecto necessitatibus corporis maxime distinctio dicta eveniet modi minima, officiis quisquam quos quae et aliquam expedita qui!
        Porro odit autem optio, qui id reprehenderit iste sunt itaque culpa quo, tempora ad minima eligendi! Quasi ipsum assumenda explicabo ipsam, numquam sequi delectus consequatur minus eius, ex maiores molestiae.
        Expedita, tenetur deserunt. Deleniti magni hic eos autem harum sunt blanditiis fugiat minus! Nihil quos officia blanditiis dolorem labore voluptatibus voluptas cupiditate placeat ipsam perspiciatis vero, alias sit quod ea!</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <ol class="d">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nisi, libero possimus velit fugit aspernatur itaque neque nobis nam commodi voluptate molestiae debitis quia. Est ullam ex odit corporis quod.
        Iusto earum obcaecati incidunt accusamus cum labore, reiciendis consectetur repudiandae error quo temporibus distinctio harum libero ducimus necessitatibus dolores cupiditate nam mollitia? Commodi fugiat nobis eos id quidem magni culpa!
        Eos enim asperiores, eius quam nesciunt tempore nostrum esse, est reiciendis impedit ducimus iste a in totam voluptatem blanditiis? Totam suscipit provident labore enim asperiores reprehenderit eaque quod aliquid laboriosam.</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <ol class="e">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <hr>

    <h2>CSS Tables</h2>
    <div class="tableDiv">
        <table class="table1">
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>Kumaran</td>
                <td>25</td>
            </tr>
        </table>
    </div><hr>

    <h2>CSS Display Layout</h2>
    <i>Paragraph</i><span class="spanObj">Span as Block</span>
    <span class="spanObj">A display property with</span> <span>a value of "block" results in</span> <span>a line break between each span elements.</span>
    <p class="pObj">Paragraph as inline</p><br>
    <button class="hidden">Hidden Button</button><br>
    <button class="none">Removed Button</button><hr>

    <h2>CSS Width, Max-Width and Margin</h2>
    <div class="ex1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ipsum velit eius veritatis necessitatibus, corrupti suscipit. Vero, dolorum neque iure laborum mollitia ad voluptates dolores, eius nemo impedit qui. Sint.
    </div><br>
    <div class="ex2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi neque error sunt sed itaque repellat animi vitae vel eligendi fuga cumque, labore libero corporis impedit, ut nobis voluptate! Reprehenderit, explicabo!
    </div>
    <hr>

    <h2>CSS Z-Index</h2>
    <img src="../../assets/images/img1.jpg" alt="Index Image" class="index" width="200px" height="100px">
    <h2>CSS Position</h2>
    <div class="static">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptate accusantium eum eligendi libero inventore laborum itaque quia, quasi nulla unde suscipit veritatis quos non veniam ducimus iusto doloremque nam.
    </div><br>
    <div class="relative">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis quis, nobis omnis, animi reprehenderit temporibus non quidem illum quas ut rerum, nisi soluta id doloremque amet. Ipsa, ipsam. Tempore, beatae?
    </div><br>
    <div class="fixed">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate assumenda consequatur reprehenderit quasi, earum optio magnam nihil possimus aliquid, eveniet maiores ullam obcaecati ex molestias, quia ut explicabo officiis esse.
    </div><br>
    <div class="absolute">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque perspiciatis earum, vel excepturi molestiae exercitationem expedita nisi! Nostrum, quisquam sunt iste accusantium, dicta animi repellat maxime vitae, sequi ut odio.
    </div><br>
    <div class="sticky">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam officia a exercitationem asperiores quisquam provident aliquid nesciunt vero et, modi nam minus distinctio facilis alias perferendis recusandae placeat tenetur! Consequatur?
    </div><hr>

    <h2>CSS Overflow</h2>
    <div class="overvisible">
        Overflow Visibe - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis aliquid ratione expedita possimus tempora, beatae dolorum sunt fugiat earum sed. Officia quibusdam dignissimos blanditiis provident voluptas porro odit quis cum!
    </div>
    <div class="overhidden">
        Overflow hidden - Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis numquam vero dolore mollitia, vel nostrum labore libero sapiente commodi ullam deleniti. Harum laudantium fugiat cum consequuntur, odio distinctio aliquid!
    </div>
    <div class="overflowx">
        Overflow X - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium accusantium est cumque, non voluptatibus rem. Error, assumenda officiis. Veritatis ad corrupti sequi omnis tenetur similique repellat quasi molestiae asperiores deserunt?
    </div><hr>

    <h2>CSS Float</h2>
    <p><img src="../../assets/images/img2.jpg" width="200px" height="100px" alt="Float image" class="floatRight">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque corporis, in et dolorum pariatur eius unde placeat earum fuga quaerat ipsa error vel! Molestiae ullam, accusamus laborum eligendi similique eveniet!
        Mollitia eius, ipsam similique rerum impedit tenetur ducimus ut saepe harum debitis dignissimos sit totam doloribus veniam omnis et expedita quos ratione, numquam fugiat repudiandae dolor deserunt! Cum, similique dicta.
        Et reprehenderit inventore ullam exercitationem harum aut molestias blanditiis? Voluptatum distinctio ut, assumenda nobis repudiandae ratione sed omnis corporis obcaecati alias perferendis odit non eum voluptates iste nesciunt eius voluptatem?
        Qui tempora aspernatur perspiciatis totam nemo explicabo quis quos ad exercitationem, corrupti distinctio magnam reprehenderit, iure deserunt eius temporibus similique dicta odio eveniet quibusdam soluta omnis. Eveniet laudantium dolorem libero.
    </p>

    <div class="divFloat">
        <div class="divFloat divFloat1">Div1</div>
        <div class="divFloat divFloat2">Div2</div>
    </div>
    <p>Without Clear</p>
    <div class="div1">Div1</div>
    <div class="div2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsa distinctio exercitationem minima, quas eius neque recusandae reprehenderit totam hic, voluptatem ex quaerat? Sed adipisci dolores ea eveniet perspiciatis necessitatibus.</div>
    <p>With Clear</p>
    <div class="div3">Div3</div>
    <div class="div4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ratione architecto a vel, ipsam debitis quam in quaerat? Fugit veritatis neque blanditiis at alias sapiente odit cupiditate totam iure nostrum?</div>

    <br>
    <p>Without Clearfix</p>
    <div class="WOFix">
        <img src="../../assets/images/img4.jpg" alt="Image4" width="200px" height="100px" class="floatImg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem impedit numquam aut reprehenderit eligendi harum nihil eveniet! Optio odio tempore cumque! Id rerum pariatur omnis velit, sapiente blanditiis fugit facere!
        Saepe sint aspernatur similique, odit eos officia fuga repudiandae accusantium, libero fugit voluptatem suscipit ea harum minus recusandae maiores laborum unde ut. Possimus aperiam accusamus exercitationem odio natus quam ipsam.</p>
    </div>
    <br>
    <p>With Clearfix</p>
    <div class="WFix">
        <img src="../../assets/images/img4.jpg" alt="Image4" width="200px" height="100px" class="floatImg">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere temporibus fugiat assumenda quam reprehenderit a, nobis quisquam quidem perspiciatis voluptatum ipsam maiores harum dolore, labore quos ab ut, similique aut?
        Autem enim officiis ut qui dolorum fugit est delectus optio veniam, suscipit unde reiciendis dolor laborum ipsum temporibus dicta corrupti amet fugiat recusandae ipsa in perspiciatis quis obcaecati doloribus. Aut!</p>
    </div><br>
    <p>Float Examples</p>
    <div class="clearfix">
        <div class="box" style="background-color: #bbb;">Box1</div>
        <div class="box" style="background-color: #ccc;">Box2</div>
        <div class="box" style="background-color: #ddd;">Box3</div>
    </div><br>

    <div class="boxes">

        <div class="boxHeight" style="background-color: #ccc;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius exercitationem consectetur odit est nostrum voluptates iure fuga, tempora hic non soluta nemo beatae saepe, in ullam nisi necessitatibus esse doloremque!
        Blanditiis vero itaque tenetur reprehenderit sequi! Expedita earum dolorem ad culpa. Saepe autem, molestiae tenetur cupiditate id, nesciunt eveniet quasi illo atque vel totam accusamus? Quia praesentium ab ad quo.</div>
        <div class="boxHeight" style="background-color: #ddd;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut amet sit tempora illo dolores cum voluptatum est commodi, quidem sint dolorum consequatur excepturi rerum labore explicabo repudiandae rem id? Molestias.
        Perspiciatis quidem, eius doloremque autem voluptates reiciendis impedit explicabo unde cum consequatur, aperiam reprehenderit et? Veniam distinctio ratione quo, quis blanditiis maxime aliquam ad illo reprehenderit exercitationem dolorum, omnis suscipit.
        Tempore iusto voluptatibus, minus velit, officiis deserunt nesciunt ea beatae quaerat vitae dolor totam. Impedit minima esse beatae consectetur dolore, quaerat iure obcaecati perferendis suscipit voluptate inventore nam tempora! Esse.
        Quam porro similique deleniti eaque ea repudiandae ullam, corporis quasi sapiente illum accusantium perspiciatis, fuga cupiditate illo praesentium voluptate libero consequuntur cumque, sequi animi? Exercitationem incidunt asperiores in laborum ut.
        Nesciunt numquam architecto debitis repudiandae ab. Ad laborum voluptas tempora obcaecati quia a nemo aspernatur omnis, veniam neque officiis laudantium! Ratione nihil quia voluptates perspiciatis laboriosam amet pariatur repellat unde.</div>
    </div><br><br>

    <div class="header">
        <h1>Chania</h1>
    </div>
    <div class="clearfix">
        <ul class="column menu">
            <li>The Flight</li>
            <li>The City</li>
            <li>The Island</li>
            <li>The Food</li>
        </ul>

        <div class="column content">
            <h1>The City</h1>
            <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
            <p>You will learn more about web layout and responsive web pages in a later chapter.</p>
        </div>
    </div>

    <div class="footer">
        <p>Footer Text</p>
    </div><hr>

    <h2>CSS Inline-Block</h2>
    <h4>display: inline</h4>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="a">Aliquam</span> <span class="a">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>

    <h4>display: inline-block</h4>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="b">Aliquam</span> <span class="b">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>

    <h4>display: block</h4>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="c">Aliquam</span> <span class="c">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div><hr>
    <span class="clearfix"></span>

    <h2>CSS Align</h2>
    <div class="center">The div element with center align</div><br>
    <p class="center">Paragraph with text align center</p>
    <p>Image Center</p>
    <img src="../../assets/images/img5.jpg" alt="imgCenter" class="imgCenter">
    <p class="rightAlign">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur necessitatibus placeat error perferendis veniam sequi, similique aperiam quod eligendi autem itaque eveniet asperiores odit repellendus et, laboriosam alias aliquid quisquam?</p><hr>

    <h2>Pseudo-class</h2>
    <div class="pseudo"> Hover over me to show the &lt;p&gt; element.
        <p class="pseudo-show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eos cum modi dicta nesciunt eveniet quam? Sed cumque eaque, quis in est quidem, magni omnis quo quia dignissimos voluptatibus reprehenderit.</p>
    </div><br>
    <div class="firstChild">
        <p>This is first child</p>
        <p>This is not</p>
    </div><hr>

    <h2>CSS Pseudo Element</h2>
    <p class="firstLine">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, qui! Velit beatae quam iure, excepturi tempore ut amet minus fugit sapiente repellat sit accusantium necessitatibus similique tempora culpa ratione molestiae?
    Nobis voluptatum non sit totam dolore aliquid officiis fugit placeat, amet iste quod adipisci minima exercitationem dicta veritatis fuga. Aperiam cupiditate eaque nesciunt fuga quisquam cumque sapiente atque, obcaecati quis.
    Fugiat, quas? Officia inventore, vero aperiam iure veniam, quia vitae quod aliquam reiciendis quas corporis atque sequi aspernatur facilis rem esse doloribus fuga possimus laudantium eveniet obcaecati accusantium! Numquam, impedit.</p>
    <p class="firstLetter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iure aut reprehenderit porro quia in vero, quod laudantium doloribus nisi, mollitia tempora soluta similique! Earum harum fugiat odio dolorem eveniet!</p>

    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ol>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol><hr>

    <h2>CSS Opacity</h2>
    <img src="../../assets/images/img5.jpg" alt="image1" width="200px" height="100px" class="opacity"><br>
    <div class="background">
        <div class="transbox">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet rerum repellendus est provident illo officia pariatur, aliquid, adipisci asperiores harum. Earum ipsa assumenda reiciendis, expedita aperiam veritatis veniam explicabo!</p>
        </div>
    </div><hr>

    <h2>CSS Vertical Navbar</h2>
    <ul class="vertiUL">
        <li><a class="vertiLI active" href="csslearning.component.html">Home</a></li>
        <li><a class="vertiLI" href="#">Gallery</a></li>
        <li><a class="vertiLI" href="#">About Us</a></li>
    </ul>
    <div style="margin-left:25%;padding:1px 16px;height:500px;">
        <h2>Fixed Full-height Side Nav</h2>
        <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
        <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
        <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
        <p>Some text..</p>
        <p>Some text..</p>
        <p>Some text..</p>
        <p>Some text..</p>
        <p>Some text..</p>
        <p>Some text..</p>
        <p>Some text..</p>
    </div><hr>

    <h2>CSS Horizontal Navbar</h2>
    <ul class="HorizUL">
        <li><a class="HorizLI active" href="csslearning.component.html">Home</a></li>
        <li><a class="HorizLI" href="#">Gallery</a></li>
        <li><a class="HorizLI" href="#">About Us</a></li>
    </ul><hr>

    <h2>CSS Dropdown</h2>
    <div class="dropdown">
        <button class="dropbtn">Dropdown Menu</button>
        <div class="dropdown-content">
            <a href="#" class="dropLink">Link 1</a>
            <a href="#" class="dropLink">Link 2</a>
            <a href="#" class="dropLink">Link 3</a>
        </div>
    </div><hr>

    <h2>CSS Images Gallery</h2>
    <div class="galleryDiv">
        <div class="gallery">
            <img src="../../assets/images/img1.jpg" alt="Image" width="200px" height="150px">
            <p class="desc">This is image description</p>
        </div>
        <div class="gallery">
            <img src="../../assets/images/img2.jpg" alt="Image" width="200px" height="150px">
            <p class="desc">This is image description</p>
        </div>
        <div class="gallery">
            <img src="../../assets/images/img3.jpg" alt="Image" width="200px" height="150px">
            <p class="desc">This is image description</p>
        </div>
    </div><hr>

    <h2>CSS Image Sprite</h2>
    <ul id="navlist">
        <li id="home"><a href="#"></a></li>
        <li id="prev"><a href="#"></a></li>
        <li id="next"><a href="#"></a></li>
    </ul><br><br><hr>

    <h2>CSS [attribute] Selectors</h2>
    <a class="attribute" href="https://w3schools.com" target="_blank">W3Schools - Blank</a>
    <p>  </p>
    <a class="attribute" href="https://google.com" target="_self">Google - Self</a><br>
    <img src="../../assets/images/img1.jpg" alt="Image1" title="flower" width="200px" height="200px">
    <p class="top-text">This is attribute with |= value - Matches whole word or separated word with -(hyphen) top-text</p>
    <p class="tophead">This is attribute with ^= value - Matches whole word starts with this tophead</p>
    <p class="totest">This is attribute with *= value - Matches the specific letter combination in texts - to in top-head, toptext, totest</p>
    <p class="second">This wont affect</p>
    <hr>
    
    <h2>CSS Counters</h2>
    <h3 class="h3counter">HTML Class</h3>
    <h3 class="h3counter">CSS Class</h3>
    <h3 class="h3counter">JavaScript Class</h3>
    <h3 class="h3counter">TypeScript Class</h3>
    <h3 class="h3counter">Angular Class</h3><hr>

    <h2>CSS Important</h2>
    <p id="myid" class="myclass">This text used !Important statement</p><hr>

    <h2>CSS Math functions</h2>
    <p class="mathfn">This is CSS Math function statement</p><hr>

    <h2>Text Effects</h2>
    <p>Text Overflow property - the following two paragraphs contains a long text that will not fix in the box</p>
    <h5>Text Overflow - clip:</h5>
    <p class="test1">This is some long text that will not fix in a box</p>
    <h5>Text Overflow - ellipsis:</h5>
    <p class="test2">This is some long text that will not fix in a box</p>

</body>