<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS">
    <meta name="description" content="HTML Learnings">
    <meta name="authoor" content="KUMARAN">
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <h2>HTML Learnings - Start</h2>
    <h1>My First Heading</h1>
    <p>My First Paragraph</p>
    <hr>

    <h2>HTML Headings</h2>
    <h1>Heading One</h1>
    <h2 class="head2">Heading Two</h2>
    <h3>Heading Three</h3>
    <h4>Heading Four</h4>
    <h5>Heading Five</h5>
    <h6>Heading Six</h6>
    <hr>

    <h2>Pre Tag</h2>
    <pre>Pre Tag element displayed in a
        fixed-width and it preserves
        spaces and line-breaks
    </pre>
    <hr>

    <h2>Style Example</h2>
    <p style="background-color: blue;">This is styled with bg-color</p>
    <hr>

    <h2 name="C4">Text Formatting</h2>
    <b>Bold Text</b>
    <strong>Strong Text</strong>
    <i>Italic Text</i>
    <em>Emphasised Text</em>
    <small>Small Text</small>
    <p>This is <mark>marked</mark> text</p>
    <p>This is <del>deleted</del> text</p>
    <p>This is <del>deleted</del> and <ins>inserted</ins> text</p>
    <p>This is <sub>Subscripted</sub> text</p>
    <p>This is <sup>Superscripted</sup> text</p>
    <hr>

    <h2>HTML Quotation and Citation</h2>
    <p>Browsers usually indent blockquote elements.</p>
    <blockquote cite="http://www.worldwildlife.org/who/index.html">
    This is blockquote text and
    cited from worldwildlife.org/who 
    This is blockquote text and
    cited from worldwildlife.org/who 
    This is blockquote text and
    cited from worldwildlife.org/who
    </blockquote>
    <p>This is <q>Short Quotation</q> Text in a paragraph</p>
    <p>This is abbreviated text for <abbr title="World Health Organisation">WHO</abbr></p>
    <address>
        Address : <br>
        Chennai, <br>
        India <br>
        example.com
    </address>
    <p>Cite tag Example: <cite>The Scream</cite> by Edward Munch painted in 1893.</p>
    <p>Below text is bdo bi-directional override - right to left</p>
    <bdo dir="rtl">This is bdo bi-directional override - right to left</bdo>
    <hr>

    <h2>HTML Comments Tag</h2>
    <pre>This is <!-- HTML Comments Tag --></pre>
    <hr>

    <h2>CSS Styles</h2>
    <p style="color:blue">Inline CSS used for color change</p>
    <p>Style tag used for Internal CSS and Link rel tag used for enternal css script loading</p>
    <hr>

    <h2>Links - Hyperlinks</h2>
    <a href="https://www.w3schools.com" target="_self">w3schools-self</a>
    <a href="https://www.w3schools.com" target="_blank">w3schools-blank </a>
    <a href="https://www.w3schools.com" target="_parent">w3schools-parent </a>
    <a href="https://www.w3schools.com" target="_top">w3schools-top </a>

    <br><br>
    <a href="https://www.google.com">
        <img src="https://images.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="google image" style="width:240px;height:120px;">
    </a><br>
    <a href="mailto:gmail.com">Send email</a>
    <br><br>
    <p>Creating bookmarks</p>
    <a href="#C4">Jump to formatting</a>
    <hr>

    <h2>HTML Images</h2>
    <img src="./assets/images/img1.jpg" alt="Image 1" style="width: 300px; height:200px;"> <br>
    <img src="./assets/images/img2.jpg" alt="Image 2" width="500" height="300"> <br> <br>

    <p>Image Map</p>
    <img src="./assets/images/img3.jpg" alt="Imaege map" usemap="#workmap" width="500" height="300">
    <map name="workmap">
        <area shape="rect" coords="34,44,270,350" href="https://www.google.com" target="_blank" alt="google page">
    </map> <br><br>

    <p>HTML Picture Tag</p>
    <picture>
        <source media="(min-width: 1800px)" srcset="./assets/images/img4">
        <source media="(min-width: 400px)" srcset="./assets/images/img5">
    </picture>
    <hr>

    <!-- <h2>HTML Favicon - Small image displayed next to title</h2>
    <link rel="icon" type="image/x-icon" href="favicon.ico"> -->

    <h2>HTML Tables</h2>
    <table>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Kumaran</td>
            <td>23</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Karthik</td>
            <td>24</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Murali</td>
            <td>25</td>
        </tr>
    </table>

    <p>Colspan Example</p>
    <table>
        <tr>
            <th colspan="2">Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Venky</td>
            <td>Ganpath</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Saravana</td>
            <td>Karthikeyan</td>
            <td>16</td>
        </tr>
    </table>
    <p>Rowspan Example</p>
    <table>
        <tr>
            <th rowspan="2">Name</th>
            <td>Venku</td>
            <td>Ganpath</td>
        </tr>
        <tr>
            <td>Saravana</td>
            <td>Karthikeyan</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>22</td>
            <td>16</td>
        </tr>
    </table>
    <p>HTML Table Caption</p>
    <table style="width: 300px;">
        <caption>Monthly Savings</caption>
        <tr>
            <th>Month</th>
            <th>Savings</th>
        </tr>
        <tr>
            <td>January</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$200</td>
        </tr>
    </table>

    <p>HTML Colgroup</p>
    <table>
        <colgroup>
            <col span="2" style="background-color: pink;">
        </colgroup>
        <tr>
            <th>Month</th>
            <th>Savings</th>
        </tr>
        <tr>
            <td>January</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$200</td>
        </tr>
    </table>
    <hr>

    <h2>HTML Lists</h2>
    <p>Unordered List</p>
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ul style="list-style-type: disc;">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ul style="list-style-type: circle">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ul style="list-style-type: square">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ul style="list-style-type: none">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ul>
        <li>
            One
            <ul>
                <li>Ten</li>
                <li>Twenty</li>
            </ul>
        </li>
        <li>Two</li>
        <li>Three</li>
    </ul>


    <p>Ordered List</p>
    <ol>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <ol type="1" start="3">
        <li>One</li>
        <li>Two</li>
        <li>Theww</li>
    </ol>
    <ol type="A" start="4">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <ol type="a" start="4">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <ol type="I" start="1">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <ol type="i">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
    <ol>
        <li>One
            <ol>
                <li>Ten</li>
                <li>Twenty</li>
            </ol>
        </li>
        <li>Two</li>
        <li>Three</li>
    </ol>

    <p>Description List</p>
    <dl>
        <dt>ATM:</dt>
        <dd>Automated Teller Machine</dd>

        <dt>JS</dt>
        <dd>JavaScript</dd>
    </dl>
    <hr>

    <h2>HTML Block and Inline Elements</h2>
    <p>HTML Block Elements</p>
    <p> address, article, aside, blockquote, canvas, dd, div, dl, dt, fieldset, figcaption, figure, footer,
        form, h1 to h6, header, hr, li, main, nav, noscript, ol, p, pre, section, table, tfoot, ul, video
    </p>

    <h2>HTML Inline Elements</h2>
    <p> a, abbr, acronym, b, bdo, big, br, button, cite, code, dfn, em, i, img, input, kbd, label,
        map, object, output, q, samp, script, select, small, span, strong, sub, sup, textarea, time, tt, var
    </p>
    <hr>

    <h2>HTML iFrames</h2>
    <iframe src="htmllearning.component.html" name="iframe_a" title="Iframe Example" width="400px" height="200px"></iframe>
    <p><a href="https://www.w3schools.com" target="iframe_a">W3Schools.com</a></p>
    <hr>

    <h2>HTML Layout Elements</h2>
    <h2>Section</h2>
    <section>
        <h4>WWF</h4>
        <p>The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.</p>
    </section>
    <section>
        <h4>WWF's Panda symbol</h4>
        <p>The Panda has become the symbol of WWF. The well-known panda logo of WWF originated from a panda named Chi Chi that was transferred from the Beijing Zoo to the London Zoo in the same year of the establishment of WWF.</p>
    </section>
    <h2>Article</h2>
    <article>
        <h4>Mozilla Firefox</h4>
        <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
    </article>
    <article>
        <h4>Google Chrome</h4>
        <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
    </article>
    <article>
        <header>
            <h1>What does WWF Do? - header</h1>
            <p>WWF's Mission:</p>
        </header>
        <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
    </article>
    <footer>
        <p>Author: Kumaran</p>
        <p><a href="mailto:kk@gmail.com">Send Mail</a></p>
    </footer>

    <nav>
        <a href="/html/">HTML</a>
    </nav>

    <p>Aside: My family and I visited The Epcot center this summer. The weather was nice, and Epcot was amazing! I had a great summer together with my family!</p>

    <aside>
        <h4>Epcot Center</h4>
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
    </aside>

    <p>Figure Caption</p>
    <figure>
        <img src="./assets/images/img1.jpg" alt="Figure Caption" width="200px" height="150px">
        <figcaption>Image using Figure Caption</figcaption>
    </figure>
    <hr>

    <h2>HTML Computer Code</h2>
    <p>Code Tag</p>
    <code>
        int a;
        a = 10;
    </code>
    <p>Keyboard Tag</p>
    <p>Save the document by pressing <kbd>Ctrl + S</kbd></p>
    <p>Sample Output</p>
    <p><samp>File Not Found. <br>Press F1 to continue.</samp></p>

    <p>Code tag with pre tag</p>
    <pre>
        <code>
            int a = 10;
            print(a);
        </code>
    </pre>
    <p>var tag</p>
    <p>The area of triangle is: 1/2 x <var>b</var> x <var>h</var>, where <var>b</var> is the base, and <var>h</var> is the height.</p>
    <hr>

    <h2>HTML Entities</h2>
    <p>&lt;HTML&gt;&amp;&quot;&apos;&cent;&pound;&yen;&euro;&copy;&reg;</p>
    <hr>

    <h2>HTML Form</h2>
    <form action="#" target="_blank" method="get" autocomplete="on" novalidate>
        <label for="name">Enter your name</label>
        <input type="text" id="name" name="fname" placeholder="Your Name...">
        <br>
        <input type="radio" name="language" id="html" value="HTML">
        <label for="html">HTML</label><br>
        <input type="radio" name="language" id="css" value="CSS">
        <label for="css">CSS</label> <br>
        <input type="checkbox" name="vehicle1" id="vehicle1" value="Bike">
        <label for="vehicle1">Honda Bike</label>
        <input type="checkbox" name="vehicle2" id="vehicle2" value="Car">
        <label for="vehicle2">Hyundai Car</label><br>
        <input type="submit" value="Submit"><br><br>

        <label for="cars">Choose a car:</label>
        <select name="cars" id="cars" size="2" multiple>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi" selected>Audi</option>
        </select><br><br>

        <textarea name="message" id="message" cols="30" rows="10">
            The cat was playing in the garden.
        </textarea> <br><br>
        <button type="button" onclick="alert('Welcome')">Click Me!</button>
        <br><br>
        <p>Fieldset and Legend</p>
        <fieldset>
            <legend>Legend - Personlia:</legend>
            <label for="fname">Enter First Name</label>
            <input type="text" name="fname" id="fname"><br>
            <label for="lname">Enter Last Name</label>
            <input type="text" name="lname" id="lname"><br><br>
            <input type="submit" value="Submit">
        </fieldset>

        <label for="browserid">Enter Your Browser</label>
        <input list="browsers" id="browserid">
        <datalist id="browsers">
            <option value="Chrome">
            <option value="Internet Explorer">
            <option value="Firefox">
        </datalist><br><br>

    </form>
    <form action="#"
          oninput="x.value=parseInt(a.value)+parseInt(b.value)">
        0
        <input type="range" id="a" name="a" value="50">
        100 +
        <input type="number" id="b" name="b" value="50">
        =
        <output name="x" for="a b"></output>
        <br><br>
        <input type="submit">
    </form>

    <form>
        <p>Input Types</p>
        <label for="myTxt">Text Example</label>
        <input type="text" id="myTxt"><br>
        <input type="submit" value="Submit">
        <input type="reset"><br>
        <input type="radio" id="html" name="fav_language" value="HTML">
        <label for="html">HTML</label><br><br>
        <input type="radio" id="css" name="fav_language" value="CSS"><br>
        <label for="css">CSS</label>
        <label for="favcolor">Color</label>
        <input type="color" name="favcolor" id="favcolor"><br>
        <label for="bday">Date</label>
        <input type="date" name="bday" id="bday" min="1970-12-12" max="2022-08-19"><br>
        <label for="bdaytime">Datetime-local</label>
        <input type="datetime-local" name="bdaytime" id="bdaytime"><br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>
        <label for="image">Image</label>
        <input type="image" src="./assets/images/img1.jpg" name="image" id="image" width="200px" height="100px"><br>
        <label for="myfile">File</label>
        <input type="file" name="myfile" id="myfile"><br>
        <input type="hidden" name="hiddenData" id="hiddenData" value="3333"><br>
        <label for="bdaymonth">Month</label>
        <input type="month" name="bdaymonth" id="bdaymonth"><br>
        <label for="myNum">Number</label>
        <input type="number" name="myNum" id="myNum" min=1 max=5><br>
        <label for="myRange">Range</label>
        <input type="range" name="myRange" id="myRange" value="50" min="1" max="50"><br>
        <label for="mySearch">Search</label>
        <input type="search" name="mySearch" id="mySearch"><br>
        <label for="myTel">Telephone</label>
        <input type="tel" name="myTel" id="myTel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"><br>
        <label for="appt">Time</label>
        <input type="time" name="appt" id="appt"><br>
        <label for="myUrl">URL</label>
        <input type="url" name="myUrl" id="myUrl"><br>
        <label for="myWeek">Week</label>
        <input type="week" name="myWeek" id="myWeek"><br>

        <p>Input Restrictions: checked, disabled, max, maxlength, min, pattern, readonly, required, size, step, value, multiple, placeholder, step, autofocus, height, width, list, autocomplete, </p>
    </form>
    <hr>

    <h2>HTML Canvas</h2>
    <p>Empty Canvas</p>
    <canvas id="myCanvas1" width="200" height="100" style="border: 1px solid;"></canvas>
    <hr>

    <h2>HTML SVG</h2>
    <svg width="100" height="100">
        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
    </svg><br>

    <svg width="200" height="100">
        <rect width="200" height="100" style="fill:rgb(0, 0, 255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg><br>

    <svg width="400" height="300">
        <rect x="50" y="20" rx="20" ry="20" width="200" height="200" style="fill:rgb(0, 0, 255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg><br>

    <svg width="300" height="200">
        <polygon points="100,10 40,198 190,78 10,78 160,198"
        style="fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;" />
    </svg>

     <svg height="130" width="500">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
            <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
          </linearGradient>
        </defs>
        <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)" />
        <text fill="#ffffff" font-size="45" font-family="Verdana" x="50" y="86">SVG</text>
        Sorry, your browser does not support inline SVG.
      </svg> 
      <hr>

      <h2>HTML Video</h2>
      <video width="200" height="100" controls autoplay muted>
        <source src="./assets/videos/vid1.mp4" type="video/mp4">
        Your browser doesn't support video.
      </video><hr>

      <h2>HTML Audio</h2>
      <audio controls autoplay muted>
        <source src="./assets/audios/jan.mp3" type="audio/mp3" />
      </audio>

</body>
